.loader {
  position: relative;
  width: 130px;
  height: 130px;
}

.loader-logo {
  position: absolute;
  width: 100px; /* Adjust size as needed */
  /* height: 70px; */
  top: 50%;
  left: 0;
  transform: translate(-5px, -50%);
  animation: logoMoveX 1.5s linear infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background: #f36523;
}

@keyframes logoMoveX {
  0% {
    transform: translate(-15px, -50%);
  }
  15%, 25% {
    transform: translate(0px, -50%);
  }
  75%, 85% {
    transform: translate(50px, -50%);
  }
  100% {
    transform: translate(65px, -50%);
  }
}
